:root {
  --primary: hsl(358, 83%, 53%);
  --darkest: hsl(358, 0%, 0%);
  --darker: hsl(358, 0%, 20%);
  --dark: hsl(358, 0%, 40%);
  --neutral: hsl(358, 0%, 50%);
  --light: hsl(358, 0%, 60%);
  --lighter: hsl(358, 0%, 95%);
  --lightest: hsl(358, 0%, 100%);
}
