@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@400;600&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./theme.css";

h1, h2, h3, h4, h5, h6 {
  @apply text-scale-0 font-300
}

@screen narrow {
  html {
    @apply text-16;
  }
}

.after\:comma::after {
  content: ','
}

.after\:comma:last-child::after {
  content: ''
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
