@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./theme.css";

@import url('https://fonts.googleapis.com/css?family=Maitree');

html {
  @apply text-14;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-scale-0 font-300
}

@screen narrow {
  html {
    @apply text-16;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
